f++0MTpcVyXQyIM/NTm/C6GSQcxEsn3q2kenKXN6ipZnFQQGM5J6Qbyfg+LdDzvpmNoc44grMxy058tbKMGEIrkyk7p/JywBuM8dYUYx0QQCZBs1GOc1gJ8IpQvMBxNLMPFmd4pEISl3kVWqJJTuWSxhfNpO1nRPTa2GvxvLSeF6gXYv+pLfCuuGmkGUnHa3VdfNtNad3oJTMhlOiXNVZYLpLZccSEkkwvrXWyqGoLzDrK0V2sTn2i4U7op+sB33yBJtGs5gvWL+DhIMpF9wZ7KBVH94zbd+xg+6foSsgJn2Z6/NndKoaZLqP131+fKIW/Hr6T/QOOYdWBQsEibNok2DSEewZ15dBQqbw9Xmu7c=