f++0MTpcVyXQyIM/NTm/C6GSQcxEsn3q2kenKXN6ipZnFQQGM5J6Qbyfg+LdDzvpmNoc44grMxy058tbKMGEIq/vACTMqDRR/4Rn6O+3r9Uqvcr/uqD10137kYkXCCqb+mlVqOFBKI9+yAIRC8OqLiXMY4zckBltqy06yr+YnNKYm8ils/+4GYb9ujn2PnYoTEKoI4fl3733sCE917ERmEFWDT/60uaapUqV3KA6PiccnuIJj97oovBgbLaijhb7t4zrWpIUcBLTSDGSWpoPMXHplquGEr6ZKu62bCMUcGInfZ6pdSM3s91ZzjRjJfpt