f++0MTpcVyXQyIM/NTm/C6GSQcxEsn3q2kenKXN6ipZnFQQGM5J6Qbyfg+LdDzvpmNoc44grMxy058tbKMGEInTMwGD2oyfhYNe0A1Vr2z27Yd3wSr+pfGH9Lhn/DHzHfh++al9yC2hH8OkmmGFn70HR2zZIwzwHt7Y1ctIVMAnoIlIflxzErBF8g3Se4JoL6l+Rks67jfEQTfoRrPSQ7Qi7zemJ7ZfyvcKPIrmOl7mT6PRpnWUhtsJ8rW6/7iSlbfliQ+o306K8FSvuQcG9+/gEYgeBSfxp7RmXfvsEVXtp4tZ1h+z3q1ImWeCxjnmh